@page
@model SuccessModel
@{
    ViewData["Title"] = "Yay";
}

<div class="text-center d-flex flex-column align-items-centre justify-content-centre vh-100">
    <div style="height:40px"></div>
    <div class="gif-container mb-3">
        <img id="gif" src="/css/Success.gif" width="200" />
    </div>

    <h1 class="text-center">YAYYY SEE YOU FEB 14TH <3 </h1>
</div>

<script>
</script>